USE [PracenjeKvalitetaRada]
GO
/****** Object:  Table [dbo].[EvidencijaRada]    Script Date: 05/03/2026 18:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvidencijaRada](
	[EvidencijaID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[KriterijumID] [int] NOT NULL,
	[Ocena] [int] NOT NULL,
	[Komentar] [nvarchar](max) NULL,
	[DatumUnosa] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EvidencijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 05/03/2026 18:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Lozinka] [nvarchar](255) NOT NULL,
	[Pozicija] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kriterijum]    Script Date: 05/03/2026 18:00:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kriterijum](
	[KriterijumID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[Opis] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KriterijumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EvidencijaRada] ON 

SET IDENTITY_INSERT [dbo].[EvidencijaRada] OFF
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([KorisnikID], [Ime], [Prezime], [Email], [Lozinka], [Pozicija]) VALUES (1, N'Marko', N'Markovic', N'marko.markovic@nexus.rs', N'Sifra123', N'Menadžer')
INSERT [dbo].[Korisnik] ([KorisnikID], [Ime], [Prezime], [Email], [Lozinka], [Pozicija]) VALUES (2, N'Jovan', N'Jovanovic', N'jovan.jovanovic@nexus.rs', N'Sifra123', N'Dispecer')
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Kriterijum] ON 

INSERT [dbo].[Kriterijum] ([KriterijumID], [Naziv], [Opis]) VALUES (1, N'Produktivnost', N'Brzina i efikasnost u obavljanju zadataka')
INSERT [dbo].[Kriterijum] ([KriterijumID], [Naziv], [Opis]) VALUES (2, N'Kvalitet koda', N'Pisanje cistog i održivog koda')
INSERT [dbo].[Kriterijum] ([KriterijumID], [Naziv], [Opis]) VALUES (3, N'Timski rad', N'Saradnja sa kolegama u timu')
SET IDENTITY_INSERT [dbo].[Kriterijum] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Korisnik__A9D1053473CBA095]    Script Date: 05/03/2026 18:00:22 ******/
ALTER TABLE [dbo].[Korisnik] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EvidencijaRada] ADD  DEFAULT (getdate()) FOR [DatumUnosa]
GO
ALTER TABLE [dbo].[EvidencijaRada]  WITH CHECK ADD  CONSTRAINT [FK_Evidencija_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[EvidencijaRada] CHECK CONSTRAINT [FK_Evidencija_Korisnik]
GO
ALTER TABLE [dbo].[EvidencijaRada]  WITH CHECK ADD  CONSTRAINT [FK_Evidencija_Kriterijum] FOREIGN KEY([KriterijumID])
REFERENCES [dbo].[Kriterijum] ([KriterijumID])
GO
ALTER TABLE [dbo].[EvidencijaRada] CHECK CONSTRAINT [FK_Evidencija_Kriterijum]
GO
ALTER TABLE [dbo].[EvidencijaRada]  WITH CHECK ADD CHECK  (([Ocena]>=(1) AND [Ocena]<=(5)))
GO
